///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/
//.u-anchor:before{
//	content:"";
//	margin-top: -100px;
//	padding-top: 100px;
//}
/*------------------------------------------------------------
text-align
------------------------------------------------------------*/
.u-left{text-align: left;}
.u-center{text-align: center;}
.u-right{text-align: right;}
/*------------------------------------------------------------
color
------------------------------------------------------------*/
.u-c1{color: #00AAAD;}
.u-c2{color: #AB535F;}
/*------------------------------------------------------------
margin
------------------------------------------------------------*/
.u-mt-5{margin-top: -5px;}
.u-mt-1{margin-top: -1px;}
.u-mt4{margin-top: 4px;}
.u-mt3{margin-top: 3px;}
.u-mb26{margin-bottom: 26px;}
.u-mb32{margin-bottom: 32px;}
.u-mb34{margin-bottom: 34px;}
.u-ml-1{margin-left: -1px;}
/*------------------------------------------------------------
padding
------------------------------------------------------------*/
.u-pt5{padding-top: 5px;}
.u-pt1{padding-top: 1px;}
.u-pr13{padding-right: 13px;}
.u-pb4{padding-bottom: 4px;}
.u-pl1{padding-left: 1px;}
.u-pl2{padding-left: 2px;}
/*------------------------------------------------------------
top
------------------------------------------------------------*/
.u-t-2{top: -2px !important;}
.u-t-3{top: -3px !important;}