/*------------------------------------------------------------
breadcrumb
------------------------------------------------------------*/
.c-breadcrumb{
    font-size: 1.2rem;
    font-weight: bold;
    a:first-child{
        color: #FCB316;
        &:after{
            content:"＞"
        }
    }
    a{
        text-decoration: none;
        color: #000;
    }
}
/*
------------------------------------------------------------*/
