/*------------------------------------------------------------
footer
------------------------------------------------------------*/
footer{
    overflow: hidden;
    margin-bottom: 237px;
    background: #fff;
}
/*
------------------------------------------------------------*/
.c-footer{
    background: linear-gradient(to bottom, rgba(169,233,113,1) -1%,rgba(0,170,173,1) 35%,rgba(0,170,173,1) 100%);
    position: relative;
    z-index: 2;
    top: -2px;
    color: #fff;
    padding-bottom: 73px;
    &__sub{
        transition: all .75s;
        opacity: 0;
        right: -100%;
        position: fixed;
        z-index: -1;
        &.active{
            right: 0;
            opacity: 1;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
        }
    }
    &__taskbar{
        font-size: 1.3rem;
        width: 1000px;
        margin: 0 auto 62px;
        padding: 81px 0 0 0;
        display: flex;
        justify-content: space-between;
    }
    &__home{
        a{
            color: #fff;
            text-decoration: none;
        }
        img{margin: -4px 2px 0 -1px;}
    }
    &__scrolltop{
        margin: 0 11px 0 0;
        cursor: pointer;
    }
    &__security{
        margin: 77px 0 0 2px;
        line-height: 3.3rem;
        a{
            color: #fff;
            text-decoration: none
        }
    }
    .c-list1{
        width: 1000px;
        margin: 0 auto;
        display: flex;
        position: relative;
        left: -2px;
        &__col{
            margin-right: 78px;
            &:nth-child(2){
                ul{
                    padding-left: 11px;
                    margin-top: -2px;
                    padding-bottom: 25px;
                }
            }
            &:nth-child(3){
                margin: 0 87px 0 10px;
            }
            &:last-child{
                margin: 0;
                position: relative;
                left: 2px;
                margin-top: 2px;
            }
        }
        &__social{
            display: flex;
            justify-content: space-between;
            align-items: center;
            a{padding: 3px 17px 14px 11px;}
            &:nth-child(2){
                a{padding:3px 15px 13px 10px;}
                span{
                    letter-spacing: .5px;
                    margin-left: 38px;
                    top: 0;
                }
            }
            span{
                font-size: 1.2rem;
                margin-left: 40px;
                position: relative;
                top: 1px;
            }
        }
        a{
            text-decoration: none;
            font-size: 1.4rem;
            color: #fff;
            line-height: 2.5rem;
        }
        ul{padding-left: 11px;}
    }
    &__mid{
        font-size: 1.3rem;
        display: flex;
        width: 1001px;
        margin: 14px auto;
        border-right: 1px solid #00AAAD;
        border-left: 1px solid #00AAAD;
        position: relative;
        left: -2px;
    }
    &__icon{
        padding: 20px 92px 25px 93px;
        border-right: 1px solid #00AAAD;
        p{margin-bottom: 7px;}
        img{margin-left: 2px;}
    }
    &__address{
        line-height: 2.5rem;
        padding: 17px 77px;
    }
    &__fb{
        position: absolute;
        right: 52px;
        top: 26px;
    }
}
/*
------------------------------------------------------------*/
