/*------------------------------------------------------------
header
------------------------------------------------------------*/
.c-header{
    &__menu{
        position: fixed;
        background: url(../image/top/bg2.png) no-repeat top center;
        padding: 55px 30px 0;
        top: -1px;
        left: 458px;
        z-index: 2;
    }
    &__icon{
        font-weight: bold;
        a{
            color: #000;
            text-decoration: none
        }
        p{
            &:first-child{
                font-size: 1.3rem;
                padding-left: 7px;
            }
            &:last-child{
                font-size: 4.795rem;
                letter-spacing: -3px;
                margin: -14px 0 15px 2px;
            }
        }
    }
    &__text1{
        font-size: 1.4rem;
        position: relative;
        left: 10px;
        margin-bottom: 42px;
    }
    &__text2{
        font-size: 1.2rem;
        line-height: 28px;
        padding-left: 9px;
        margin-bottom: 30px;
    }
    &__img{
        text-align: center;
        padding-left: 2px;
        margin-bottom: 84px;
    }
    &__home{
        position: absolute;
        background: url(../image/top/bg3.png) no-repeat top center;
        top: 3px;
        right: -32px;
        padding: 24px 9px 10px;
    }
    &__contact{
        position: fixed;
        right: 337px;
        top: 46px;
        background: #00AAAD;
        width: 106px;
        height: 106px;
        text-align: center;
        border-radius: 100%;
        padding: 18px 0 0;
        z-index: 999;
        p{
            font-size: 1.2rem;
            &:last-child{
                font-size: 1.1rem;
            }
        }
        img{margin: 3px 0 7px;}
        a{
            text-decoration: none;
            color: #fff;
        }
    }
}
/*
------------------------------------------------------------*/
