/*------------------------------------------------------------
layout
------------------------------------------------------------*/
.l-container{
    width: 1000px;
    margin: 0 auto;
    @include clear();
}
.l-row{
    float: right;
    width: 743px;
    padding-left: 27px;
}
/*
------------------------------------------------------------*/


