/*------------------------------------------------------------
flow
------------------------------------------------------------*/
.p-flow{
    .c-breadcrumb{margin: 43px 0 77px;}
}
/*
------------------------------------------------------------*/
.p-flow1{
    margin-bottom: 56px;
}

.p-flow2{
    margin-bottom: 142px;
    .c-step{
        &__item{
            &:first-child{
                margin-bottom: 56px;
                .c-step__title{padding: 0 47px 0 0;}
                .c-imgText1{
                    &__img{
                        top: -32px;
                        margin-right: 17px;
                    }
                    &__content{padding: 45px 5px 0 0;}
                }
            }
            &:nth-child(2){
                margin-bottom: 31px;
                .c-step__title{padding: 0 37px 0 0;}
                .c-imgText1{
                    &__img{top: -10px;}
                    &__content{
                        letter-spacing: .5px;
                        margin: 20px 3px 0 0;
                    }
                }
            }
            &:nth-child(3){
                margin-bottom: 63px;
                .c-step__title{padding: 0 11px 0 0;}
                .c-imgText1{
                    &__img{top: 8px;}
                    &__content{margin: 48px 0 0 18px;}
                }
            }
            &:nth-child(4){
                margin-bottom: 43px;
                .c-step__title{padding: 0 67px 0 0;}
                .c-imgText1{
                    &__img{top: 3px;}
                    &__content{margin: 43px 11px 0 0;}
                }
            }
            &:last-child{
                .c-step__title{padding: 0 20px 0 0;}
                .c-imgText1{
                    &__img{top: -2px;}
                    &__content{margin: 45px 0 0 18px;}
                }
            }
        }
    }
    .c-imgText1{
        &__img{
            position: relative;
            z-index: -1;
        }
    }
}

.p-flow3{margin-bottom: 109px;}

.p-flow4{margin: 0 0 237px;}

.p-flow5{margin-bottom: 121px;}