/*------------------------------------------------------------
top
------------------------------------------------------------*/
body{
    width: 1500px;
    min-width: 1500px;
    margin: 0 auto;
    background-size: 1500px auto;
    &.page-index{background: url(../image/top/bg1.jpg) no-repeat top center;}
    &.page-flow{
        background: url(../image/flow/bg1.jpg) no-repeat top center;
        font-size: 1.4rem;
    }
    &.page-qa{
        background: url(../image/qa/bg1.jpg) no-repeat top center;
        .c-footer{padding: 1px 0 73px;}
    }
}
/*
------------------------------------------------------------*/
.p-top1{
    position: relative;
    z-index: 1;
    width: 1318px;
    margin: 72px auto;
    left: -13px;
}

.p-top2{
    width: 716px;
    margin: 0 auto 60px;
    position: relative;
    left: 143px;
}

.p-top3{
    width: 1000px;
    margin: 0 auto 104px;
}

.p-top4{
    margin-bottom: 47px;
    position: relative;
    .c-title1{
        margin-bottom: 17px;
        li:first-child{margin-right: 14px;}
    }
    .c-title3{margin-bottom: 27px;}
    .c-imgText1{
        &__text{font-size: 1.4rem;}
        &__img{margin: -3px 6px 0 20px;}
    }
    p{line-height: 24px;}
    .c-desing{
        &__sheep{
            position: absolute;
            top: 64px;
            right: 0;
        }
    }
}

.p-top5{
    position: relative;
    margin-bottom: 191px;
    .c-title1{
        margin-bottom: 10px;
        li:first-child{
            letter-spacing: -2px;
            margin-right: 10px;
        }
        li:last-child{vertical-align: baseline}
    }
    .c-list1{
        margin-left: 1px;
        img{
            width: 233px;
            height: 155px;
        }
        a{
            margin: 0 8px 8px 0;
            &:nth-child(3n){margin: 0;}
        }
    }
}

.p-top6{
    position: relative;
    margin-bottom: 342px;
    .c-title1{
        margin-bottom: 11px;
        li{
            &:first-child{margin-right: 13px;}
            &:last-child{vertical-align: baseline}
        }
    }
    .c-list1{
        margin-bottom: 40px;
        &__img{
            margin: 27px 18px 0 0;
        }
        &__text{
            img{margin: 7px 0;}
            p{
                font-size: 1.4rem;
                line-height: 25px;
                padding-left: 1px;
            }
            p.u-c2{padding-left: 4px;}
        }
        &--last{
            position: relative;
            left: 76px;
            .c-list1__img{margin: 27px 47px 0 0;}
        }
    }
}

.p-top7{
    margin-bottom: 239px;
    @include clear();
    .c-title1{
        padding: 20px 20px 20px 38px;
        margin-bottom: 3px;
        li:last-child{margin-top: -15px;}
    }
}

.p-top8{
    position: relative;
    margin-bottom: 53px;
    .c-title1{
        margin-bottom: 63px;
        li{
            &:first-child{
                letter-spacing: 0;
                margin-right: 2px;
            }
            &:last-child{vertical-align: baseline}
        }
    }
    .c-qa__sheep{
        position: absolute;
        top: -28px;
        left: 312px;
    }
    .c-list1{
        margin-left: 2px;
        text-align: center;
        &__box{
            a{
                text-decoration: none;
                color: #000;
            }
            margin-right: 25.5px;
            margin-bottom: 36px;
            &:nth-child(3n){margin: 0;}
        }
        &__title{
            font-size: 3.6rem;
            margin: 8px 0;
        }
        &__content{
            font-size: 1.8rem;
            line-height: 32px;
        }
    }
}

.p-top9{
    margin-bottom: 122px;
    .c-title1{
        margin-bottom: 11px;
        li{
            &:first-child{margin-right: 9px;}
            &:last-child{vertical-align: baseline}
        }
    }
    .c-btn1{
        margin-right: 6px;
        &:last-child{margin: 0;}
    }
}