/*------------------------------------------------------------
btn
------------------------------------------------------------*/
.c-btn1{
    display: inline-block;
    width: 335px;
    a{
        display: block;
        text-decoration: none;
        background: #00AAAD;
        color: #fff;
        border-radius: 5px;
        font-weight: bold;
        text-align: center;
        padding: 6px 0 8px;
    }
}
/*
------------------------------------------------------------*/
