/*------------------------------------------------------------
title
------------------------------------------------------------*/
.c-title1{
    li{
        display: inline-block;
        font-size: 4.51rem;
        &:first-child{
            font-weight: bold;
            letter-spacing: -5px;
        }
        &:last-child{
            font-size: 1.8rem;
            vertical-align: super;
        }
    }
}
/*
------------------------------------------------------------*/
.c-title2{
    li{
        display: inline-block;
        font-size: 2.4rem;
        &:last-child{
            font-size: 1.4rem;
            vertical-align: super;
        }
    }
}
/*
------------------------------------------------------------*/
.c-title3{
    font-size: 3rem;
    span{font-weight: bold;}
}
/*
------------------------------------------------------------*/
.c-title4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    position: relative;
    span{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}
