/*------------------------------------------------------------
form
------------------------------------------------------------*/
.c-form1{
    font-size: 1.6rem;
    padding: 0 0 0 15px;
    margin-bottom: 89px;
    &__title{margin-bottom: 5px;}
    &__warning{font-size: 1.2rem;}
    input[type="text"]{
        width: 659px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 11px 10px;
        margin-bottom: 17px;
    }
    input[type="radio"]{visibility: hidden;}
    label{
        position: relative;
        cursor: pointer;
        &:after{
            content: "";
            width: 9px;
            height: 5px;
            border-left: 2px solid;
            border-bottom: 2px solid;
            position: absolute;
            transform: rotate(-58deg);
            top: 6px;
            left: 4px;
            opacity: 0;
        }
        &.active{
            &:after{
                opacity: 1;
            }
        }
        span{
            position: relative;
            left: -9px;
            top: 1px;
            &:before{
                content: "";
                height: 10px;
                width: 10px;
                border: 1px solid;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -14px;
            }
        }
    }
    &__content{
        border-radius: 5px;
        width: 669px;
        padding: 10px 0 11px 10px;
        border: 1px solid #ccc;
        margin-bottom: 15px;
    }
    &__wrapper{margin-left: -1px;}
    ul{margin-bottom: 31px;}
    li{display: inline-block;}
}
/*
------------------------------------------------------------*/
