/*------------------------------------------------------------
navi
------------------------------------------------------------*/
.c-navi1{
    margin-bottom: 24px;
    ul{
        display: flex;
        flex-wrap: wrap;
    }
    li{
        writing-mode: vertical-rl;
        margin: 0 3.5px;
        &:first-child{
            writing-mode: initial;
            width: 10px;
            margin-left: 10px;
            word-break: break-word;
            margin-top: -3px;
            margin-right: 6px;
        }
    }
    a{
        display: block;
        font-size: 1.3rem;
        text-decoration: none;
        color: #000;
        font-weight: bold;
        transition: initial;
        &.active{color: #00AAAD}
    }
}
/*
------------------------------------------------------------*/
