/*------------------------------------------------------------
list
------------------------------------------------------------*/
.c-list1{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
/*
------------------------------------------------------------*/
