/*------------------------------------------------------------
video
------------------------------------------------------------*/
.c-slide1{
    .slick{
        &-dots{
            bottom: 101.4%;
            right: -221px;
            li{
                margin: 0 -1.5px;
                button{
                    &:before{
                        font-size: 24px;
                        opacity: 1;
                        color: #FCB316;
                    }
                }
                &.slick-active{
                    button:before{
                        opacity: 1;
                        color: #00AAAD;
                    }
                }
            }
        }
    }
}
/*
------------------------------------------------------------*/
