/*------------------------------------------------------------
other
------------------------------------------------------------*/
.c-thumb{
    width: 500px;
    border-radius: 15px;
    background: #D6EEEE;
    float: right;
    position: relative;
    padding-bottom: 12px;
    &__content{
        background: #fff;
        margin: 0 12px;
        border-radius: 12px;
        padding: 25px 33px 21px;
    }
    &__inner{
        font-size: 1.4rem;
        p{
            margin-bottom: 18px;
            line-height: 25px;
            text-align: justify;
            &:first-child{font-size: 2.1rem;}
            &:last-child{margin: 0;}
        }
    }
    &__sheep{
        position: absolute;
        top: -27px;
        right: 27px;
    }
}
/*
------------------------------------------------------------*/
.c-desc{
    text-align: center;
    font-size: 1.4rem;
    padding-left: 55px;
    font-weight: bold;
    margin-bottom: 44px;
    text-shadow: 1px 0px 1px #fff,
                 1px -2px 1px #fff,
                 1px 2px 1px #fff,
                 1px -3px 1px #fff,
                 1px 3px 1px #fff,
                 2px 0 1px #fff,
                 -2px 0 1px #fff,
                 3px 0px 1px #fff,
                 -3px 0px 1px #fff;
}
/*
------------------------------------------------------------*/
.c-intro{
    &__title{
        font-size: 4.3rem;
        line-height: 57px;
        margin-bottom: 22px;
    }
    &__content{
        font-size: 1.4rem;
        letter-spacing: .1px;
        margin-left: -43px;
        line-height: 22px;
    }
    &__img{
        position: absolute;
        bottom: -160px;
        right: 3px;
    }
}
/*
------------------------------------------------------------*/
.c-about{
    display: flex;
    padding-left: 197px;
    position: relative;
    &__img{margin-right: 28px;}
    &__content{
        font-size: 1.4rem;
        padding-top: 62px;
        p{
            padding: 0 36px 0 12px;
            line-height: 25px;
            margin-bottom: 24px;
        }
    }
    &__sheep{
        position: absolute;
        bottom: -2px;
        left: 416px;
    }
    .c-title3{margin-bottom: 15px;}
}
/*
------------------------------------------------------------*/
.c-gallery{
    &__sub{
        font-size: 3rem;
        margin-bottom: 65px;
    }
    &__img{
        position: absolute;
        right: 56px;
        bottom: 10px;
    }
}
/*
------------------------------------------------------------*/
.c-schedule{
    &__sub{
        margin-bottom: 30px;
        p{
            margin-bottom: 13px;
            font-size: 3rem;
        }
        span{font-size: 1.4rem;}
    }
    &__sheep{
        position: absolute;
        bottom: -141px;
        left: 118px;
    }
}
/*
------------------------------------------------------------*/
.c-contact{
    display: flex;
    justify-content: space-between;
    &__img{position: relative;}
    &__sub{
        font-size: 3rem;
        margin-left: -35px;
        position: relative;
        left: 34px;
        margin-bottom: 25px;
    }
    &__text{
        p{
            &:first-child{
                font-size: 3rem;
                padding: 0 0 0 10px;
                margin-bottom: 5px;
            }
            &:nth-child(2){
                font-size: 5.793rem;
                padding: 0 0 0 8px;
                letter-spacing: -3px;
                margin-bottom: -7px;
            }
            &:last-child{
                font-size: 2.2rem;
                padding: 0 0 0 19px;
            }
        }
    }
    &__inner{
        position: absolute;
        background: #00AAAD;
        width: 139px;
        height: 139px;
        text-align: center;
        border-radius: 100%;
        padding: 21px 0 0;
        font-size: 1.5rem;
        color: #fff;
        top: 15px;
        right: 35px;
        img{padding: 0 0 8px 2px;}
        p{
            &:first-child{padding: 0 0 5px 3px;}
            &:last-child{line-height: 18px;}
        }
    }
}
/*
------------------------------------------------------------*/
.c-flow{
    &__title{padding: 0 0 39px 2px;}
    &__step{padding: 0 0 34px 4px;}
    &__content{
        line-height: 2.2rem;
        padding-left: 13px;
        p{
            margin: 22px 0 0;
        }
    }
}
/*
------------------------------------------------------------*/
.c-step{
    &__inner{
        .c-imgText1{
            &__content{line-height: 2.5rem;}
        }
    }
}
/*
------------------------------------------------------------*/
.c-cost{
    &__title{margin: 0 0 26px 2px;}
    &__content{
        p{
            margin-bottom: 26px;
            line-height: 2.45rem;
        }
    }
}
/*
------------------------------------------------------------*/
.c-estimate{
    &__title{margin: 0 0 28px 2px;}
    &__content{
        p{
            margin-bottom: 24px;
            line-height: 2.45rem;
        }
    }
}
/*
------------------------------------------------------------*/
.c-qa{
    &__title{padding: 1px 0 20px 1px;}
    &__question{
        font-size: 2.1rem;
        padding: 45px 0 31px 43px;
        .c-list1{
            &__content{margin: -3px 0 0 18px;}
            &__img{
                position: relative;
                top: -1px;
            }
        }
        &.active{padding: 45px 0 31px 43px;}
    }
    &__inner{
        &.active{
            display: block !important;
            opacity: 1;
        }
    }
    &__answer{
        font-size: 1.4rem;
        padding: 0 0 0 44px;
        .c-list1{
            &__content{
                width: 530px;
                padding: 12px 0 48px 12px;
                margin-left: 10px;
                line-height: 24px;
                text-align: justify;
            }
        }
    }
    &__line1,
    &__line2{
        position: relative;
        top: 8px;
    }
    &__question.active,
    &__answer{background: #FFF4E3;}
    &__box{
        margin-bottom: -12px;
        &:first-child{margin-bottom: -20px;}
    }
}